
  :root {
    --background: 0 0% 97.65%;
    --foreground: 0 0% 12.55%;
    --muted: 0 0% 93.73%;
    --muted-foreground: 0 0% 39.22%;
    --popover: 0 0% 98.82%;
    --popover-foreground: 0 0% 12.55%;
    --card: 0 0% 98.82%;
    --card-foreground: 0 0% 12.55%;
    --border: 0 0% 84.71%;
    --input: 0 0% 94.12%;
    --primary: 22.93 92.59% 52.35%;
    --primary-foreground: 44 0% 100%;
    --secondary: 34.05 100% 85.49%;
    --secondary-foreground: 16.27 50.43% 22.94%;
    --accent: 0 0% 90.98%;
    --accent-foreground: 0 0% 12.55%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 24.8 79.79% 63.14%;
    --chart-1: 22.93 92.59% 52.35%;
    --chart-2: 34.05 100% 85.49%;
    --chart-3: 0 0% 90.98%;
    --chart-4: 34.05 100% 88.49%;
    --chart-5: 22.93 95.59% 52.35%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 93%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 22.93 92.59% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 85%;
    --sidebar-accent-foreground: 0 0% 15%;
    --sidebar-border: 0 0% 80%;
    --sidebar-ring: 22.93 90% 45%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 31 100% 50%;
    --primary-foreground: 31 100% 10%;
    --secondary: 31 14% 17%;
    --secondary-foreground: 31 14% 77%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 31 8% 13%;
    --input: 31 8% 13%;
    --ring: 31 100% 50%;
    --chart-1: 31 100% 50%;
    --chart-2: 31 14% 17%;
    --chart-3: 31 23% 25%;
    --chart-4: 31 14% 20%;
    --chart-5: 31 103% 50%;
    --sidebar-background: 24 9.8% 7.5%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 31 100% 45%;
    --sidebar-primary-foreground: 31 100% 10%;
    --sidebar-accent: 31 14% 20%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 31 8% 11%;
    --sidebar-ring: 31 95% 45%;
  }
